:root {
    --font-family-main: Inter, Krona One ,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;    
    --font-size-s: 18px;
    --font-line-s: 22.217px;
    --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
    --font-size-m: 24px;
    --font-line-m: 120%;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
    --font-size-l: 26px;
    --font-line-l: 140%;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

    // Размеры

    --header-height: 109px;
    --header-mobile-height: 60px;
    --footer-heigh: 760px;
    --footer-mobile-heigh: 644px;

    // Анимации 
    --hovered-color: #fff;
}