.Hero {
    min-height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 190px;
}

.HeroInformation {
    margin-top: 106px;
    z-index: 3;
    width: 514px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    transition: 0.3s;
}

.HeroText {
    width: 666px;
    display: flex;
    gap: 18px;
    flex-direction: column;
    text-align: center;
    align-items: center;

    h1 {
        color: #FFF;
        font-family: Krona One;
        font-size: 46px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
    }

    p {
        width: 436px;
        color: #C4BBDF;
        font-family: Inter;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 145%;
        letter-spacing: 0.33px;
    }
}

.img {
    position: absolute;
    top: 356px;
    left: 0;
    z-index: 0;
    scale: 125%;
    max-width: 100%;
}

.imgM {
    display: none;
}

.Button {
    text-decoration: none;
    border-radius: 48.016px;
    background: #FFF;
    padding: 32px 46px;
    color: #141739;
    font-family: 'Montserrat';
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    border: 1px solid var(--primary-color);
    transition: all 0.3s;
}
.Button:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
}

.Safari {
    z-index: 1;
    width: 100%;
    transform: translate(0, 2.5%);
    scale: 105%;
    max-width: 1524px;
    height: auto;
    backdrop-filter: blur(5px);
    border-radius: 12px;
}

.Mail,
.File,
.Contact,
.Analytics,
.Calendar,
.Dollar,
.Photo,
.Chart {
    position: absolute;
    z-index: 3;
    transition: 0.3s;
}

.Contact {
    top: 250px;
    left: 65px;
}

.Mail {
    top: 100px;
    left: 100px;
}

.File {
    top: 250px;
    left: 260px;
}

.Analytics {
    top: 130px;
    left: 280px;
}

.Calendar {
    right: 65px;
    top: 250px;
}

.Dollar {
    right: 275px;
    top: 290px;
}

.Photo {
    right: 270px;
    top: 190px;
}

.Chart {
    right: 150px;
    top: 100px;
}

@media (max-width: 500px) {
    .Hero{
        height: calc(100vmin - var(--header-mobile-height));
    }
    .HeroInformation {
        
        margin-top: 240px;
        width: 380px;
        align-items: center;
        gap: 20px;
        transition: 1s;
    }

    .HeroText {
        width: 100%;
        gap: 8px;

        h1 {
            color: #FFF;
            text-align: center;
            font-family: Krona One;
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
        }

        p {
            width: 380px;
            color: #A69DBE;
            text-align: center;
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            /* 27px */
            letter-spacing: 0.27px;
        }
    }

    .Button {
        text-decoration: none;
        padding: 26px 38px;
        background-color: #fff;
        border-radius: 39.094px;
        color: #141739;
        font-family: Montserrat;
        font-size: 21.513px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.43px;
        text-transform: uppercase;
    }

    .Safari {
        display: none;
    }

    .imgM {
        display: block;
        position: absolute;
        left: -1em;
        z-index: 1;
        min-width: 100vw;
    }

    .img {
        display: none;
    }

    .Mail,
    .File,
    .Contact,
    .Analytics,
    .Calendar,
    .Dollar,
    .Photo,
    .Chart {
        display: none;
    }
}
@media (max-width: 1024px) and (min-width: 500px) {
    .Hero{
        gap: 85px;
    }
}
@media (max-width: 1440px) and (min-width: 825px){
    .Hero{
        gap: 168px;
    }
    .Contact {
        top: 250px;
        left: 55px;
    }
    
    .Mail {
        top: 100px;
        left: 90px;
    }
    
    .File {
        top: 250px;
        left: 240px;
    }
    
    .Analytics {
        top: 130px;
        left: 240px;
    }
    
    .Calendar {
        right: 55px;
        top: 250px;
    }
    
    .Dollar {
        right: 250px;
        top: 285px;
    }
    
    .Photo {
        right: 240px;
        top: 190px;
    }
    
    .Chart {
        right: 130px;
        top: 100px;
    }
  }